---
import { SITE } from '~/theme-config';
---

<span
  class="self-center ml-2 whitespace-nowrap text-lg font-semibold uppercase tracking-[0.18em] text-white md:text-base rtl:ml-0 rtl:mr-2"
>
  {SITE?.name}
</span>
